---
import {Image} from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import {Icon} from "astro-icon/components";

import headshot from "../../assets/cat.jpg";
import Project from "../../components/Project.astro";
---
<Layout title="Jan Štefanča"
        description="Student osmiletého gymnázia s vášní pro programování a open-source projekty."
        metaDesc="Student osmiletého gymnázia s vášní pro programování a open-source projekty."
        metaTags={["Jan Štefanča", "PanJohnny"]} i18n={true}>
    <section id="hero">
        <div>
            <Image src={headshot} alt="cat in a flower field" width={300} class="headshot" loading="lazy" aria-hidden/>
        </div>
        <div class="content">
            <div class="title">
                <Image src={headshot} alt="cat in a flower field" width={300} class="headshot small" loading="lazy" aria-hidden/>
                <h1>Jan Štefanča</h1>
            </div>

            <p>Student osmiletého gymnázia s vášní pro programování a open-source projekty.</p>
            <ul class="socials">
                <li>
                    <a href="mailto:janstefanca@seznam.cz" rel="noopener noreferrer">
                        <Icon name="mdi:email-outline"/>
                        janstefanca@seznam.cz</a>
                </li>
                <li>
                    <a href="//github.com/PanJohnny" target="_blank" rel="noreferrer noopener">
                        <Icon name="mdi:github"/>
                        github.com/PanJohnny</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="projects">
        <h2><a href="/projects">Projekty <Icon name="mdi:arrow-right"/></a></h2>
        <ul class="list">
            <Project name="Baka4J" desc="Javová knihovna pro práci s API Bakaláři"
                     page="/project/baka4j" featured/>
            <Project name="McDecentralize" desc="CLI nástroj pro hostování Minecraft serverů na několika strojích"
                     page="/project/mcdecentralize" featured/>
            <Project name="JIPProtocol" desc="Aplikační protokol pro server-klient komunikaci, má SOČ" page="/project/jednoduchy-internetovy-protokol" featured/>
        </ul>
    </section>
    <section id="webapps">
        <h2>Webové aplikace</h2>
        <ul class="list">
            <Project name="Třídní kronika" desc="Online verze kroniky mé třídy" page="//kronika.panjohnny.me" featured/>
            <Project name="FastGymlit" desc="Rychlá RSS čtečka zpráv ze školy" page="//gymlit.panjohnny.me" featured/>
            <Project name="Květen45" desc="Interaktivní hra analyzující dobový tisk ke konci 2. světové války" page="//kveten45.panjohnny.me" featured/>
            <Project name="Bakaláři iCal" desc="Aplikace pro propojení rozvrhu z Bakalářů a vašeho kalendáře" page="//b.panjohnny.me" featured/>
            <Project name="Obsidian online" desc="Online zobrazení obsidian vaultu z GitHubu podporující Excalidraw a LaTex" page="//obsidian.panjohnny.me" featured/>
        </ul>
    </section>
</Layout>

<style>
    section {
        padding: 2rem;
    }

    #hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .small {
        display: none;
    }

    #hero h1 {
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    .list {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #hero .content {
        flex: 1;
    }

    #hero p {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .socials {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    .socials li {
        display: inline-block;
        white-space: nowrap;
    }

    .socials a {
        text-decoration: none;
        color: inherit;
    }

    .headshot {
        border-radius: 12px;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    @media (max-width: 830px) {
        #hero {
            flex-direction: column;
            text-align: center;
        }

        #hero .headshot:not(.small) {
            display: none;
        }

        .small {
            display: initial;
        }

        .headshot.small {
            width: 20%;
            height: auto;
        }

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            text-align: center;
            width: 100%;
            justify-content: space-between;
        }

        .socials {
            justify-content: center;
        }

        #hero h1 {
            font-size: 10vw;
        }
    }

    @media screen and (max-width: 550px) {
        #hero h1 {
            font-size: 8vw;
        }

        .headshot.small {
            width: 50%;
            height: auto;
        }

        .title {
            flex-direction: column;
            align-items: center;
        }

        .socials {
            flex-direction: column;
        }

        #hero {
            padding-top: 0;
        }
    }

    h2 a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
</style>