---
import {Image} from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import {Icon} from "astro-icon/components";

import headshot from "../../assets/cat.jpg";
import Project from "../../components/Project.astro";
---
<Layout title="Jan Štefanča"
        description="Eight-year grammar school student passionate about programming and open-source projects."
        metaDesc="Eight-year grammar school student passionate about programming and open-source projects."
        metaTags={["Jan Štefanča", "PanJohnny"]} i18n={true}>
    <section id="hero">
        <div>
            <Image src={headshot} alt="cat in a flower field" width={300} class="headshot" loading="lazy" aria-hidden/>
        </div>
        <div class="content">
            <div class="title">
                <Image src={headshot} alt="cat in a flower field" width={300} class="headshot small" loading="lazy" aria-hidden/>
                <h1>Jan Štefanča</h1>
            </div>

            <p>Eight-year grammar school student passionate about programming and open-source projects.</p>
            <ul class="socials">
                <li>
                    <a href="mailto:janstefanca@seznam.cz" rel="noopener noreferrer">
                        <Icon name="mdi:email-outline"/>
                        janstefanca@seznam.cz</a>
                </li>
                <li>
                    <a href="//github.com/PanJohnny" target="_blank" rel="noreferrer noopener">
                        <Icon name="mdi:github"/>
                        github.com/PanJohnny</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="projects">
        <h2><a href="/projects">Projects <Icon name="mdi:arrow-right"/></a></h2>
        <ul class="list">
            <Project name="Baka4J" desc="A Java library for interfacing with the Bakaláři system"
                     page="/project/baka4j" featured/>
            <Project name="McDecentralize" desc="A CLI tool for hosting a Minecraft server accross multiple machines"
                     page="/project/mcdecentralize" featured/>
            <Project name="JIPProtocol" desc="Custom aplication protocol for server-client communication" page="/project/jip-protocol" featured/>
        </ul>
    </section>
</Layout>

<style>
    section {
        padding: 2rem;
    }

    #hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .small {
        display: none;
    }

    #hero h1 {
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    .list {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #hero .content {
        flex: 1;
    }

    #hero p {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .socials {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    .socials li {
        display: inline-block;
        white-space: nowrap;
    }

    .socials a {
        text-decoration: none;
        color: inherit;
    }

    .headshot {
        border-radius: 12px;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    @media (max-width: 830px) {
        #hero {
            flex-direction: column;
            text-align: center;
        }

        #hero .headshot:not(.small) {
            display: none;
        }

        .small {
            display: initial;
        }

        .headshot.small {
            width: 20%;
            height: auto;
        }

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            text-align: center;
            width: 100%;
            justify-content: space-between;
        }

        .socials {
            justify-content: center;
        }

        #hero h1 {
            font-size: 10vw;
        }
    }

    @media screen and (max-width: 550px) {
        #hero h1 {
            font-size: 8vw;
        }

        .headshot.small {
            width: 50%;
            height: auto;
        }

        .title {
            flex-direction: column;
            align-items: center;
        }

        .socials {
            flex-direction: column;
        }

        #hero {
            padding-top: 0;
        }
    }

    h2 a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
</style>