---
interface Props {
    title: string;
    description: string;
    id: string;
    date: string;
}

var props = Astro.props as Props;
if (Astro.props.frontmatter) {
    props = Astro.props.frontmatter as Props;
}
---

<html>
    <head>
        <title>{props.title}</title>
        <meta charset="UTF-8" />
        <meta name="description" content={props.description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content={"https://panjohnny.vercel.app/posts/" + props.id}
        />
        <meta property="og:title" content={props.title} />
        <meta property="og:description" content={props.description} />
        <meta property="og:image" content="/favicon.ico" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:url"
            content={"https://panjohnny.vercel.app/posts/" + props.id}
        />
        <meta property="twitter:title" content={props.title} />
        <meta property="twitter:description" content={props.description} />
        <meta property="twitter:image" content="/favicon.ico" />

        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
        />
        <script
            src="https://kit.fontawesome.com/748c4b57ac.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="container">
        <main>
            <div>
                <h1 class="no-margin">
                    {props.title}
                </h1>
            </div>

            <hr />
            <div class="info">
                <span>Published {props.date}</span>
                <span id="post">posts/{props.id}</span>
            </div>
            <slot />
        </main>

        <footer>
            <a href="/blog" role="button" class="secondary">Other blogs</a>
            <a href="latest" role="button" class="secondary">Latest blog</a>
        </footer>
        

        <script is:inline>
            const post = document.getElementById("post");
            post.addEventListener("click", (event) => {
                const before = post.innerText;
                copyToClipboard(window.location.href)
                    .then((s) => {
                        post.innerText = "URL Copied to clipboard!";
                        post.style.animation = "fade-out 2s linear";
                        setTimeout(() => {
                            post.innerText = before;
                        }, 2000);
                    })
                    .catch((err) => {
                        post.innerText = err;
                    });
            });

            function copyToClipboard(textToCopy) {
                // navigator clipboard api needs a secure context (https)
                if (navigator.clipboard && window.isSecureContext) {
                    // navigator clipboard api method'
                    return navigator.clipboard.writeText(textToCopy);
                } else {
                    // text area method
                    let textArea = document.createElement("textarea");
                    textArea.value = textToCopy;
                    // make the textarea out of viewport
                    textArea.style.position = "fixed";
                    textArea.style.left = "-999999px";
                    textArea.style.top = "-999999px";
                    document.body.appendChild(textArea);
                    textArea.focus();
                    textArea.select();
                    return new Promise((res, rej) => {
                        // here the magic happens
                        document.execCommand("copy") ? res() : rej();
                        textArea.remove();
                    });
                }
            }
        </script>
    </body>
</html>

<style>
    .info {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        font-size: small;
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    :global(.no-margin) {
        margin: 0px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
</style>
