---
import SharedCSS from '../components/SharedCSS.astro';
import CommonHeader from '../components/CommonHeader.astro';

interface Props {
    title: string;
    description: string;
    theme?: string;
}

const props = Astro.props as Props;
---

<html>
    <head>
        <title>{props.title}</title>
        <meta charset="UTF-8" />
        <meta name="description" content={props.description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://panjohnny.me/" />
        <meta property="og:title" content={props.title} />
        <meta property="og:description" content={props.description} />
        <meta property="og:image" content="/favicon.ico" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://panjohnny.me/" />
        <meta property="twitter:title" content={props.title} />
        <meta property="twitter:description" content={props.description} />
        <meta property="twitter:image" content="/favicon.ico" />

        <script
            src="https://kit.fontawesome.com/748c4b57ac.js"
            crossorigin="anonymous"></script>
        
        <SharedCSS />
    </head>

    <body>
        <CommonHeader title={props.title}/>
        <slot />
        <footer class="center-text">
            <span class="nowrap">Created with ♥ by PanJohnny</span> | <span
                class="nowrap"
                >Icons from <i class="fa-solid fa-font-awesome"></i> Font Awesome</span
            >
        </footer>
    </body>
</html>